version: '1.0'
services:
  loki:
    image: grafana/loki:latest
    container_name: loki
    restart: unless-stopped
    networks:
      - monitoring
    ports:
      - "3100:3100"
    volumes:
      - loki_data:/loki
    command: -config.file=loki-config.yaml
  grafana:
    image: grafana/grafana
    container_name: grafana
    restart: unless-stopped
    networks:
      - monitoring
    environment:
      - GF_SECURITY_ADMIN_USER=${grafana_admin}
      - GF_SECURITY_ADMIN_PASSWORD=${grafana_password}  #change the password
      - GF_INSTALL_PLUGINS=
    ports:
      - '3000:3000'
    volumes:
      - grafana_data:/var/lib/grafana
  promtail:
    image: grafana/promtail:latest
    container_name: promtail
    restart: unless-stopped
    networks:
      - monitoring
    volumes:
      - /var/log:/var/log:ro # Mount host logs
      - promtail_config:/etc/promtail
    command: -config.file=promtail-config.yaml
      
networks:
  monitoring:
 
volumes:
  loki_data:
  grafana_data:
  promtail_config:
